body {
    font-family: "Roboto", sans-serif;
    text-align: center;
    margin-top: 50px;
    background-color: #292929;
}

select{
    background-color: #5c5c5c;
	color:#b7caff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family:"Roboto";
}

h1 {
    color: #797979;
    font-family:"Roboto";
}

p {
    font-size: 30px;
    font-family:"Roboto";
}

input{
    border-radius: 10px;
    height: 10vh;
    min-width: 50%;
    font-family:"Roboto";
    background-color: #292929;
    color: white;
    border: none;
    font-size: 30px;
}

button{
    background-color: #5c5c5c;
	color:#b7caff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family:"Roboto";
}

.output-box {
    background-color: #2f2f2f;
    color: white;
    border-radius: 10px;
    height: 60vh;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    font-family:"Roboto";
    align-self: center;
    align-items: center;
}